@media(max-width:768px){

}

@media(max-width:576px){

}






/* @media(max-width:992px){
    body{
        background: var(--color);
    }
}

@media(max-width:768px){
    body{
        background: var(--colorSecondary);
    }
}

@media(max-width:576px){
    body{
        background: var(--color);
    }
} */