@import url(variables.css);
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: var(--colorPrimary);
}

.contenedorPrincipal{
 
    border: 5px solid var(--border-primary);
    width: 70%;
    height: 90vh;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.contenedor{
    border: 3px dashed var(--border-secondary);
    display: inline-block;
    width: 25rem;
    height: 25vh;
    position: absolute;
}


.contenedor:nth-child(1){
    margin: 3vh 2rem;
    left: 0;
    
}


.contenedor:nth-child(2){
    right: 0;
    margin: 3vh 2rem;
}

.contenedor:nth-child(3){
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}

.contenedor:nth-child(4){
    bottom: 0;
    right: 0;
    left: 0;
    margin: 3vh auto;

}

.caja{
    width: 3.5rem;
    height: 8vh;
    background: var(--bg-primary);
    border: 1px solid var(--border-third);
    position: absolute;
    
}

.caja1{
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    
}
.caja2:nth-child(1){
    margin: auto;
    bottom: 0;
    left: 0;
}
.caja2:nth-child(2){
    margin: auto 3.5rem;
    bottom: 0;
    left: 0;
}

.caja3{
    margin: auto;
    bottom: 0;
    left: 0;
    
}

.caja4:nth-child(1){
    margin: auto;
    bottom: 0;
    left: 0;

}

.caja4:nth-child(2){
    margin: auto;
    bottom: 0;
    right: 0;

}